/* CSS for OpenAI */

.messageContainer {
    min-height: 500px;
    max-height: 500px;
    overflow: scroll;
    background-color: #f1f5f9;
}

.messageRecivedWrapper,
.messageSendWrapper {
    display: flex;
    align-content: center;
    width: 100%;
}

.messageRecivedWrapper {
    justify-content: flex-start;
}

.messageSendWrapper {
    justify-content: flex-end;
}

.messageSend,
.messageRecived {
    padding: 10px;
    border-radius: 10px;
    margin: 5px 10px;
    min-width: fit-content;
    max-width: 150px;
}

.messageSend {
    background-color: #818cf8;
    color: white;
}

.messageRecived {
    background-color: #dbeafe;
}


.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    background-color: #f1f5f9;
}

.messageInput{
    resize: vertical;
    min-height: 36px;
}


.buttonSend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #60a5fa;
    border: none;
    margin-left: 10px;
}

.buttonClear {
    background-color: #e11d48;
    color: white;
    padding: 5px 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

